<% content_for :title do %>
	Add Permission
<% end %>

<% content_for :titleTag do %>
	The permission of user permissions
<% end %>

<% content_for :body do %>

<div class="row">
	<div class="col-sm-12">
	  <div class="panel panel-white no-radius">
	    <div class="panel-body">
	      <h1>Permission#new</h1>
	      <%= form_for @permission, url: {action: "create"} do |f| %>
	      <%= render 'permission/form', {f:f} %>
	      <% end %>
	    </div>
	  </div>
	</div>
</div>
<% end %>

